*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#111;
color:white;
font-family:Arial, sans-serif;
}

header{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.6),
rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1515405295579-ba7b45403062");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-family:'Permanent Marker',cursive;
font-size:4rem;
color:#ff2e63;
text-shadow:0 0 20px #ff2e63;
}

.hero p{
font-size:1.5rem;
margin-top:15px;
color:#00f5ff;
}

button{
margin-top:25px;
padding:15px 30px;
border:none;
cursor:pointer;
font-size:18px;
background:#00f5ff;
border-radius:30px;
}

section{
padding:80px 10%;
}

h2{
font-family:'Bebas Neue',sans-serif;
font-size:3rem;
color:#00f5ff;
margin-bottom:30px;
}

.card{
background:#1f1f1f;
padding:25px;
border-left:5px solid #ff2e63;
margin-bottom:20px;
border-radius:10px;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.skill-container{
display:flex;
flex-wrap:wrap;
gap:15px;
}

.skill{
background:#ff2e63;
padding:12px 20px;
border-radius:30px;
}

footer{
padding:30px;
text-align:center;
background:black;
}
